<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>solamente pruebas</title>
</head>
<body>
    <label for="empresa"> Empresa: </label>
    <input type="text" placeholder="Empresa" id="empresa">
    <br>
    <label for="Representante"> Representante: </label>
    <input type="text" placeholder="persona de contacto" id="Representante">
    <br>
    <label for="direccion"> direccion: </label>
    <input type="text" placeholder="direccion" id="direccion">
    <br>
    <label for="telefono"> telefono: </label>
    <input type="text" placeholder="telefono" id="telefono">
    <br>
    <label for="correo"> correo: </label>
    <input type="text" placeholder="correo" id="correo">

</body>
</html>