<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>solamente pruebas</title>
</head>
<body>
  
<center>    
  <div id="enunciado">    
    <h3 id="Nun_pedido">Pedido #</h3>    <label for="total_pedido">Costo Del Pedido</label>    <input disabled type="number" value="0" id="total_pedido">
  </div>    <br>

  <div id="productos">     
    <label for="producto">producto</label>    <select name="" id="producto">      <option value="0">Nada</option>    </select>    <label for="Proveedor">Proveedor</label>    <select name="" id="Proveedor">      <option value="0">Nada</option>    </select>    <br>    <label for="cantidad">cantidad</label>    <input type="number" placeholder="cantidad" value="" id="cantidad">    <label for="precio_unitario">Precio Uniario</label>    <input type="number" placeholder="precio unitario" id="precio_unitario">    <br><br>    <label for="costo">Costo del producto</label>    <input type="number" placeholder="costo">  
  </div>    

  <div id="productos_pedidos">
    <h4>Productos pedidos:</h5>gato - 5
  </div>  
</center>
  
</body>
</html>